*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 2rem;
}

div{
    max-width: 50vw;
    background-color: thistle;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

form{
    padding: 1rem;
    border: solid black 2px;
    background-color: aquamarine;
}

label{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

